
.DS_Store
cosivina/__pycache__/__init__.cpython-39.pyc
cosivina/__pycache__/auxiliary.cpython-39.pyc
cosivina/__pycache__/base.cpython-39.pyc
cosivina/__pycache__/BoostStimulus.cpython-39.pyc
cosivina/__pycache__/CustomStimulus.cpython-39.pyc
cosivina/__pycache__/Element.cpython-39.pyc
cosivina/__pycache__/elements.cpython-39.pyc
cosivina/__pycache__/ExpandDimension2D.cpython-39.pyc
cosivina/__pycache__/GaussKernel1D.cpython-39.pyc
cosivina/__pycache__/GaussKernel2D.cpython-39.pyc
cosivina/__pycache__/GaussStimulus1D.cpython-39.pyc
cosivina/__pycache__/GaussStimulus2D.cpython-39.pyc
cosivina/__pycache__/KernelFFT.cpython-39.pyc
cosivina/__pycache__/LateralInteractions1D.cpython-39.pyc
cosivina/__pycache__/LateralInteractions2D.cpython-39.pyc
cosivina/__pycache__/MexicanHatKernel1D.cpython-39.pyc
cosivina/__pycache__/MexicanHatKernel2D.cpython-39.pyc
cosivina/__pycache__/NeuralField.cpython-39.pyc
cosivina/__pycache__/NormalNoise.cpython-39.pyc
cosivina/__pycache__/options.cpython-39.pyc
cosivina/__pycache__/PointwiseProduct.cpython-39.pyc
cosivina/__pycache__/ScaleInput.cpython-39.pyc
cosivina/__pycache__/Simulator.cpython-39.pyc
cosivina/__pycache__/SumAllDimensions.cpython-39.pyc
cosivina/__pycache__/SumDimension.cpython-39.pyc
cosivina/__pycache__/SumInputs.cpython-39.pyc
cosivina/__pycache__/Transpose.cpython-39.pyc
cosivina/nonumba/__pycache__/__init__.cpython-39.pyc
cosivina/numba/__pycache__/__init__.cpython-39.pyc
